<div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">
  <h2>Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
      <button class="btn btn-info btn-lg btn-block" type="submit">Send me reset password instructions</button>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
